html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: hotjar;
  src: url(../../font/font-hotjar_5.65042d.woff2);
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-regular-e86322695ea3b282488575160fbae2ae.woff2);
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-medium-d390ef5d4f3589658bd593254f43a3c7.woff2);
  font-weight: 600;
}
@font-face {
  font-family: formular;
  src: url(../../font/formular-bold-9bdd13dd64c845e210e876d8611578f5.woff2);
  font-weight: bold;
}
@font-face {
  font-family: spoof;
  src: url(../../font/spoof-bold-e92aec015794b41f3d29dc693248ae37.woff2);
}
html {
  font-size: 100%;
} /*16px*/
body {
  background: white;
  font-family: "formular", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-family: spoof, sans-serif;
  font-size: 2.011rem;
}

h2 {
  font-size: 1.749rem;
}

h3 {
  font-size: 1.521rem;
}

h4 {
  font-size: 1.322rem;
}

h5 {
  font-size: 1.15rem;
}

small,
.text_small {
  font-size: 0.87rem;
}

.header {
  height: 90px;
  margin: 0 auto;
  padding: 8px 56px;
  display: grid;
  grid-template-columns: 90px 2fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgb(245, 245, 247);
}
.header .logo {
  width: 90px;
  margin-right: 16px;
}
.header .navlist {
  margin-left: 16px;
}
.header .navlist ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .navlist ul li {
  cursor: pointer;
}
.header .navlist a {
  text-decoration: none;
}
.header .navlist a:hover {
  color: rgb(66, 98, 255);
}
.header .navlist a:hover svg path {
  stroke: rgb(66, 98, 255);
}
.header .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 8px;
  font-size: 1rem;
}
.btn--icontext {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 4px;
}
.btn--texticon {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  gap: 4px;
}
.btn--primary {
  background-color: rgb(66, 98, 255);
  color: white;
  border-radius: 40px;
  padding: 16px;
}/*# sourceMappingURL=style.css.map */