form {
  display: grid;
  gap: 16px;
  input {
    @include box-radius;
    width: 100%;
    border: 1px solid $black;
    font-size: 18px;
    outline: none;
  }
  button {
    width: 100%;
    font-size: 18px;
  }
  .text_small {
    opacity: 0.8;
  }
}
