@mixin heading1 {
  font-size: 3.052rem;
}

@mixin heading2 {
  font-size: 2.441rem;
}

@mixin heading3 {
  font-size: 1.953rem;
}

@mixin heading4 {
  font-size: 1.563rem;
}

@mixin heading5 {
  font-size: 1.25rem;
}

@mixin paragraph {
  font-size: 1rem;
}

@mixin small {
  font-size: 0.8rem;
}

@mixin box-radius {
  border-radius: 40px;
  padding: 16px;
}

@mixin card-style {
  border-radius: 10px;
  padding: 16px;
  box-shadow: rgba(5, 0, 56, 0.08) 0px 4px 12px;
}

@mixin container {
  margin: 0 auto;
  padding: 24px 32px;
  max-width: 1200px;
}
