// colors
$black: #050038;
$light-black: rgba(5, 0, 56, 0.6);
$blue: rgb(66, 98, 255);
$dark-blue: rgb(69, 91, 237);
$light-blue: rgb(241, 243, 253);
$blue10: rgb(242, 242, 252);
$gray: rgb(245, 245, 247);
$gray10: rgb(240, 240, 240);
$yellow: #ffd02f;
