@import "../sass-utils/mixins";
@import "../sass-utils/variables";

.card {
  @include card-style;
  max-width: 350px;
  text-align: left;
  height: 400px;
  padding: 16px;
  img {
    height: 50px;
    margin-bottom: 8px;
  }
  p.content {
    height: 200px;
    font-size: 18px;
    text-align: left;
    color: $light-black;
  }
  .author {
    color: $light-black;
    display: flex;
    gap: 8px;
    align-items: center;

    img {
      height: 50px;
    }
    .name-position {
      p.name,
      p.position {
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}
